.profile-container {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  margin: 6rem 0 0 0;
  row-gap: 1rem;
}

.profile-container-logos {
  position: relative;
}

@keyframes intro {
  0% {
    -webkit-transform: translateX(-2400px);
    transform: translateX(-2400px);
    opacity: 1;
  }

  40% {
    -webkit-transform: scale(3);
    transform: scale(3);
    opacity: 0.5;
  }
  90% {
    -webkit-transform: scale(4);
    transform: scale(4);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
.profile-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 80%;
  margin: 1rem;
  animation-name: intro-text;
  animation-duration: 5s;
  animation-fill-mode: backwards;
  animation-timing-function: linear;
  -webkit-animation-name: intro-text;
  -webkit-animation-duration: 5s;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-timing-function: linear;
}

@keyframes intro-text {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.profile-h1 {
  margin-top: 1rem;
}

.profile-container-svg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 80%;
  animation-name: intro;
  animation-duration: 4s;
  animation-fill-mode: backwards;
  animation-timing-function: linear;
  -webkit-animation-name: intro;
  -webkit-animation-duration: 4s;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-timing-function: linear;
}

@media screen and (min-width: 980px) {
  .profile-container {
    display: flex;
    flex-direction: row;
    margin: 10rem 0 0 4rem;
    row-gap: 1rem;
  }

  .profile-container-svg,
  .profile-container-text {
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    flex: 1 1 50%;
  }

  .profile-container-text {
    margin-top: 3rem;
  }
}
