.experience-container {
  display: flex;
  flex-direction: column-reverse;
  margin: 6rem 0 0 0;
  row-gap: 1rem;
}
.experience-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 80%;
  margin: 0 3rem;
}

.experience-container-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 80%;
  margin-top: 2rem;
}

.experience-container-img-all {
  display: none;
}

.experience-img {
  width: 85%;
  filter: drop-shadow(0 0.5rem 3rem rgb(148, 152, 159));
}

.experience-container-h3 {
  color: var(--black);
  font-size: calc(1.2rem + 1vw);
  margin: 0 0 2rem 0;
  font-weight: 500;
}

.experience-a {
  text-decoration: underline;
  margin: 2rem 0 1rem;
  cursor: none;
  color: var(--primary);
}

.experience-p {
  font-size: calc(1.8rem + 1.2vw);
  font-weight: 300;
}

.experience-p:hover {
  font-size: calc(3rem + 1.2vw);
  color: var(--black);
  transition: 1s;
}

.experience-hr {
  opacity: 0.3;
  width: 100%;
  margin: 2rem 0;
}

@media screen and (min-width: 980px) {
  .experience-container {
    display: flex;
    flex-direction: row;
    margin: 3rem 1rem 0 1rem;
    row-gap: 1rem;
  }

  .experience-container-img-all,
  .experience-container-text {
    flex: 1 1 50%;
    justify-content: flex-start;
  }

  .experience-container-text {
    margin-top: 6rem;
  }

  .experience-p {
    font-size: calc(1.1rem + 1.1vw);
    font-weight: 300;
  }

  .experience-p:hover {
    font-size: calc(2rem + 1.4vw);
    color: var(--black);
    transition: 1s;
  }

  .experience-container-img-all {
    display: inherit;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .experience-container-img {
    display: none;
  }
  .experience-img-all {
    width: 70%;
    filter: drop-shadow(0 0.5rem 3rem rgb(148, 152, 159));
  }
}
