.skills-container {
  display: flex;
  flex-direction: row;
  margin: 6rem 1rem 0;
  column-gap: 4rem;
}

.skills-container-svg {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 20%;
  margin: 1rem;
}

.skills-container-text {
  display: flex;
  flex-direction: column;
  flex: 1 1 80%;
}

@media screen and (min-width: 980px) {
  .skills-container {
    margin: 20rem 1rem 0;
  }
  .skills-container-svg {
    flex: 1 1 50%;
    align-items: center;
  }
  .skills-container-text {
    flex: 1 1 50%;
  }
}
