.container {
  padding: 0;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 55rem;
}

.main {
  width: 100%;
}

@media screen and (min-width: 980px) {
  .container {
    padding: 1.5rem 4rem 0 4rem;
  }

  .main {
    margin: 0;
    padding: 0;
  }
}
