.autoret-container {
  max-width: 40%;
}
.autoret-container-glass {
  fill: rgb(0, 0, 0);
}

.autoret-container:hover {
  animation-name: grow;
  animation-duration: 1s;
}

.autoret-container-glass:hover {
  animation-name: grow;
  animation-duration: 3s;
}

@keyframes grow {
  0% {
    fill: rgb(0, 0, 0);
  }
  50% {
    fill: rgba(0, 0, 0, 0.1);
  }
  100% {
    fill: rgb(0, 0, 0);
  }
}

@media screen and (min-width: 980px) {
  .autoret-container {
    max-width: 70%;
  }
}
