.small_circle {
  display: none;
}

@media screen and (min-width: 980px) {
  .small_circle {
    display: inherit;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transition: transform 0.1s;
    z-index: 20;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--orange);
  }
}
