:root {
  /* cursor: none; */
  font-family: 'Big Shoulders Inline Text', cursive;
  font-size: 62.5%;
  font-weight: 400;
  font-synthesis: none;
  line-height: 24px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /***** COLORS ******/
  --primary: #343434;
  /* --secundary: # */
  --orange: #f06418;
  --background: #e3f6f9;
  --black: #000000;
  --js: #ffdd00;
  --react: #61dafb;
  --html: #ff0000;
}

html {
  scroll-behavior: smooth;
  margin: 0 auto;
  display: flex;
  place-items: center;
}

body {
  display: flex;
  place-items: center;
  padding: 0;
  margin: 0 auto;
  min-width: 280px;
  min-height: 100vh;
  background-color: var(--background);
  overflow-x: hidden;
  overflow-y: scroll;
}

h1 {
  font-size: calc(3.5rem + 3vw);
  line-height: 0.9;
  font-weight: 900;
  color: var(--primary);
  margin: 0;
}

h2 {
  color: var(--black);
  font-size: calc(1.5rem + 1vw);
  margin: 2rem 0;
  line-height: 1.1;
}

h3 {
  color: var(--orange);
  font-size: calc(1.8rem + 1.2vw);
  margin: 1rem 0;
  font-weight: 500;
}

p {
  font-size: calc(1.1rem + 2vw);
  font-weight: 300;
  line-height: 1.4;
  margin: 1rem;
}

.hr {
  margin-top: 3rem;
  opacity: 0.8;
}

.App {
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  h1 {
    font-size: calc(5.5rem + 5vw);
  }
}

@media screen and (min-width: 980px) {
  h1 {
    font-size: calc(3.5rem + 4vw);
  }
  h3 {
    color: var(--orange);
    font-size: calc(1.1rem + 1.1vw);
    margin: 1rem 0;
    font-weight: 500;
  }
  p {
    font-size: calc(1.1rem + 1vw);
  }
  .hr {
    margin-top: 8rem;
    opacity: 0.6;
  }
}
