.small_circle {
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transition: transform 0.1s;
  z-index: 10;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgb(240, 100, 24);
}
